<div class="modal dayOfModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- modal-header -->
            <div class="modal-body">
                <div>At the momnent, day of requests are not allowed. You will need to reach out to your direct supervisor and the MCO to get the day off, thank you.</div>
            </div> <!-- modal-body -->
        </div> <!-- modal-conent -->
    </div> <!-- modal-dialog -->
</div> <!-- dayOfModal -->