<div class="sidebar-wrapper z-depth-2 side-nav fixed" id="sidebar">
    <div class="sidebar-title">
        <h4>Requests</h4>
        <h5 id="eventDayName">Date</h5>
    </div>
    <div class="sidebar-events" id="sidebarEvents">
        <div class="empty-message">Sorry, no requests to selected date</div>
    </div>
    <div>
        All requests
        <!-- not sure what this value will be yet -->
    </div>
</div>