<div>
  <p id="notice"><%= notice %></p>
  <h1>FAQ</h1>
  <div>
    <p>
      <%= @faq.body.html_safe %>
      <hr>
      <p><b>Lats Modified On</b>: <%= @faq.updated_at.strftime("%m/%d/%Y") %></p>
    </p>
  </div>
</div>
<%= link_to 'Back', root_path %>
