<%= render 'pages/pages_path/calendar/modal' %>
<%= render 'pages/pages_path/calendar/day_of_modal' %>
<%= render 'pages/pages_path/calendar/sidebar' %>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>

    <body>
            <div class="main-wrapper split">
                <div class="container content-wrapper">
                    <div class="calendar-wrapper z-depth-2">
                        <div class="calendar">
                            <div class="cal-top-left"><a class="prev-button" id="prev"><i class="material-icons">◄</i></a></div>
                            <div class="cal-top-right"><a class="next-button cal-top-right" id="next"><i class="material-icons">►</i></a></div>
                            <div class="cal-top-center">
                                <div class="header-text" id="month-name">
                                    Month
                                </div>
                                <h5 hidden id="todayDayName">Today is</h5>
                            </div>
                            <div class="calendar-content cal-bottom">
                                <table id="calendar-table" class="calendar-cells">
                                    <thead>
                                        <tr>
                                            <th>Sun</th>
                                            <th>Mon</th>
                                            <th>Tue</th>
                                            <th>Wed</th>
                                            <th>Thu</th>
                                            <th>Fri</th>
                                            <th>Sat</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-body">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    </body>

</html>