<!DOCTYPE HTML>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
    <p>Hello!</p>

    <p>It’s the beginning of the quarter and you have been allotted 45 PTO credits that will show up in your account.</p>


    <p>New Bank Total : <%= @user.bank_value %></p>

    <p>If you have any questions or concerns, please contact your supervisor.</p>

    <p>Thank you, 
    Panda Admin</p>
    </body>
</html>