<!DOCTYPE HTML>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>Hello fleeties!</p>
        
        <p><%= @user.name %> has taken more 4 or more conecutive days off in a row. Do with information as you will.</p>

        <p>The requested time is from <%= @requests.first %> , to <%= @requests.last %></p>
        
        <p>Love, <p>

        <p>PandaAdmin</p>
    </body>
</html>