<!DOCTYPE HTML>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>Hello fleeties!</p>
        
        <p>Here is a list of agents that have take more than 4 days off in a row since your last email:</p>
        <% @users.each do |user| %>
        <li><%= user %></li>
        <% end %>
        
        <p>Do with this information as you will.</p>
        
        <p>Love, <p>

        <p>PandaAdmin</p>
    </body>
</html>