<!DOCTYPE html>
<html>

    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <p>Hello <%= @user.name%>,</p> 

        <p>On <%= @pto_request.request_date %>, a “no-call/no-show” day was added to your record.</p> 

        <p>You acquire a “no-call/no-show” by failing to inform your Supervisor or MCO that you will be late or absent within the hour before your shift start time.</p>
        <p>As a reminder, if you accumulate two “no call, no show” days, your employment may be terminated. </p>
        
        <p>If you have any questions or concerns, please contact your supervisor.</p> 
        <p>Thank you,
        Panda Admin</p>
    </body>

</html>