<!DOCTYPE html>
<html>

    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <p>Hello,</p> 

        <p>This is to confirm that you’ve submitted PTO request. This will send an automatic email confirming the deduction of your PTO credits to the MCO and your supervisor. Your remaining credits are listed below.</p> 

        <p>Agent: <%= @user.name %></p>
        <p>Cost of request: <%= @pto_request.cost %></p>
        <p>Date of request: <%= @pto_request.request_date %></p>
        <p>Remaining balance: <%= @user.bank_value %></p>
        
        <p>If you have any questions or concerns, please contactyour supervisor.</p> 
        <p>Thank you,
        Panda Admin</p>
    </body>

</html>