@media screen and (max-width: 767px) {
    #side-menu {
      display: none !important;
    }
    .pc-menu {
      display: none !important;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .solid-color-mode,
    .border-color-mode {
      .post-text {
        font-size: 16px;
      }
    }
  }