              </ul>
            <li>If you have credits, they will be used based on the cost of the day you are out of the office.</li>
             <li>If you don’t have credits, you will be required to make up the time within 3 weeks, or it will be counted as a “no call, no show” day. Contact the MCO who will provide you with your options for making up the time.</li>
              <li>If you don’t use the tool to enter your sick time or to take time off (ie, you just email your Supervisor instead), you will receive one warning, after that you will be charged double the credits for that time.</li>
        </ul>    
        Protected Benefits:
              <ul>
                <li> Protected benefits do not require you to use credits. You will get the amount the company has outlined for these events in the Instructure Employee Handbook. Protected benefits are: </li>
              </ul>
                <ul>
                  <li>Paternity/Maternity leave</li>
                  <li>ADA- Employees with disabilities are not exempt from the PTO system as a general rule.  However, the company is willing to grant additional leave as a reasonable accommodation for absences related to a disability, unless doing so would create an undue hardship.  Requests for a reasonable accommodation that would impact the PTO policy are evaluated on a case-by-case basis as part of the interactive process with the requesting employee.</li>
                  <li>Jury Duty</li>
                  <li>Bereavement</li>
                  <li>HR Approved FMLA/Short Term Disability (need to have worked here for 12 months to qualify)</li>
                  <ul>
                    <li>Approved FMLA is unpaid leave.</li>
                    <li>If you are applying for FMLA, you may get up to 2 weeks of unpaid time, prior to getting your FMLA approval, in order to get your paperwork completed and turned in to HR. This will count towards FMLA if it is approved.</li>
                    <li>If you do not get your paperwork submitted within 2 weeks from the time you first talked with your supervisor, or if FMLA is not approved, any days missed will count as credits used.</li>
                  </ul>
                  <li>You do not need to use the tool for protected benefits. You will need to email your Supervisor in any of these situations.</li>
              </ul> 
            <li>Holidays and sick time - since we only use a skeletal crew to cover holidays, we really rely on everyone who signed up to be here working. So....</li>
              <ul>
                <li>If you miss a holiday you signed up for, it will cost you 32 PTO credits</li>
                <li>You will also be signed up for another holiday of the MCO’s choice.</li>
                <li>If you miss two holidays you are signed up for, disciplinary action, up to and including termination, will take place.</li>
                </ul>
           <li>If you are late for any reason, even seemingly good ones</li>
              <ul>
                <li>Contact your supervisor ASAP.</li>
                <li>You are expected to work a full shift that day by staying later or using PTO credits to cover the time missed (Supervisor’s discretion)</li>
                <li>Any excessive trends of tardiness will result in disciplinary measures, up to and including termination.</li>
              </ul>
​
​
        If you run out of credits
              <ul>
                <li> You will not be approved for any further vacation or planned PTO until you have been allotted more credits to cover it.</li>
                <ul>
                  <li>If you really, really, really, really, really need the time off: </li>
                  <ul>
                    <li>You will need to work out some shift swaps and covers. You can work with your supervisor to show you how to do that, but it is up to you to find someone to cover your shifts. If you take the time off without finding someone to cover, it will be counted as a “no-call,no-show” day.</li>
                    <li>Sick or unplanned days will have to be made up</li>
                    <li>These be unpaid days, you will be paid when the day is made up.</li>
                    <li>An MCO will give you 2-3 choices of days and times you can make up the time. Contact them for that info.</li>
                    <li>If you do not make up your shift in 3 weeks from the day you return, it will count as a “no call, no show”.</li>
                    <li>If you miss the makeup shift you signed up for, it will count as a “no call, no show.”</li>
                    <li>If you have 2 “no call no shows,” you may be let go.</li>
                    <li>If you have had to make up more than 1 week time (40 hours) for the year due to being out of credits, disciplinary action, up to, and including termination will take place.</li>
                  </ul>
                </ul>
              </ul>
       If you have any questions on the PTO plan, please chat with your Supervisor.
    </body>
</html>