<!DOCTYPE html>
<html>

    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <h2>Welcome to Panda-PTO</h2>
        <p> Hello <%= @user.name %>,<br>
        <p>You are recieving this email because an account was create for you in Panda PTO.
        You can login at <a href="http://heckinyeet.com/">heckinyeet.com</a> to make any and all PTO requests.
        <h4>Your username and password are:</h4>
        <p>username: <%=@user.email %><br>password: <%= @password %>


    </body>

</html>