  .navbar {
    background-color: $header;
    height: 60px;
    border-bottom: #132f52 solid 0.0625rem;
    text-transform: uppercase; 
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    }

  a {
    text-decoration: none;
    font-size: 2rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 10px;
    vertical-align: middle;
    color: $text;
  }

  a:hover {
    color: $hovertext;
  }

  .nav-left { grid-area: left; padding-left: 10px; padding-top: 6px;}
  .nav-center { grid-area: center; text-align: center; vertical-align: middle; padding-top: 15px; line-height: 30px;}
  .nav-right { grid-area: right; padding-right: 10px; }
  
  .center-nav-buttons {
    background-color: inherit;
    border: none;
    text-transform: uppercase;
    outline: none; 
  }

 .center-nav-buttons:hover {
    color: $hovertext; 
  }

  .navbar-header {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-areas: 'left center right';
  }

  .navbar-sections {
    color: $text !important;
    }

  .mobile-menu {
    i {
      color: $text;
    }
    ul {
      padding: 0px;
    }
    a {
      display: block;
      padding: 10px 0px 10px 25px !important;
    }
  }

  .dropdown-menu  {
    background-color: $header !important;
    border: 1px solid $sidebar !important;
    position: absolute !important;
    top: 100% !important;
    right: 0 !important;
    z-index: 1000 !important;
    float: right !important;
    min-width: 200px !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    text-align: right !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    margin: 0px !important;
    color: $text !important;
  }

    .dropdown-menu > li > a {
    color: $text !important;
    font-weight: 200 !important;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, {
    display: block;
    font-weight: 200 !important;
    background-color: $header !important;
    color: $hovertext !important;
  }
  
  .dropdown-toggle {
  height: 60px;
  color: $text !important;
  }

  .dropdown-toggle:hover {
  color: $hovertext !important;
  }


  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: $header !important; 
    color: $text !important;
  }

  .navbar-collapse, .navbar-nav > li > a {
    color: $text !important;
    line-height: 30px;
   }

  .navbar-nav > li > a:hover {
    color: $hovertext;
   }





