<!-- this is the view for docs_index /docs -->

<div class="doc-layout">
    <div class="left">
    <%= render "nav_docs" %>
    </div>

    <div class="center-doc">
    <%=  @page.html_safe %>
    </div>
</div>