
$backgroundColor: #AAABB8;

$navbarColor: #222629;
$header: #222629;
$text: #2E9CCA;
$hovertext: white;
$sidebar: #474B4F;

$background: white;
$calendar: white;
$regularfont: White;
$calendarhover: #2E9CCA;
$calendartovertext: #29648A;