<%= flash[:notice] %>

<div>
  <h4> Import Agents CSV</h4>
    <%= form_tag import_agents_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Agents CSV" %>
    <% end %> 
</div> 