body, html {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  height:100%;
  overflow: hidden;
}

h3, h4, h5 {
  /*color: #e7e7e7;*/
  font-weight: 300 !important;
}

.row {
  margin-top: 90px;
}

.event-mark {
  width: 5px;
  height: 5px;
  background-color: teal;
  border-radius: 100px;
  position: absolute;
  left: 46%;
  top: 70%;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.sidebar-wrapper {
  color: #071a32;
  background-color: #f2f4f7;
  padding-bottom: 20px;
  font-weight: 300;
  left: 0;
  width: 20%;
  height: 100%;
}
/* Control the right side */
.main-wrapper {
  right: 0;
  width: 80%;
  background-color: white;
}

.addForm {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #4b5889 !important;
  transition: top 0.5s cubic-bezier(1, 0, 0, 1);
  padding: 0 5px 0 5px;
}

.addForm input {
  color: #fff;
}

.addForm .row {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 0;
}

.addForm h4 {
  color: #fff;
  margin-bottom: 1rem;
}

.addEventButtons {
  text-align: right;
  padding: 0 0.75rem 0 0.75rem;
}

.addEventButtons a {
  color: black;
  font-weight: 300;
}

.emptyForm {
  padding: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.emptyForm h4 {
  color: #fff;
  margin-bottom: 2rem;
}

.empty-message {
  font-size: 1.2rem;
  padding: 15px 6% 15px 12%;
}

.eventCard {
  background-color: #fff;
  color: black;
  padding: 12px 24px 12px 24px;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}

.eventCard-header {
  font-weight: bold;
}

.eventCard-description {
  color: grey;
}

.eventCard-mark-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
}

.eventCard-mark {
  width: 8px;
  height: 8px;
  background-color: #b39ddb;
  border-radius: 100px;
  position: absolute;
  left: 50%;
  top: 45%;
}



/*----------------- Smaller Devices -------------*/

  .mobile-header {
    padding: 0;
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #5a649c !important;
  }

  .mobile-header a i {
    color: #fff;
    font-size: 38px;
  }

  .mobile-header h4 {
    color: #fff;
  }

  .mobile-header .row {
    margin-bottom: 0;
  }

  .mobile-header h4 {
    margin: 0;
    font-weight: 300;
  }

  @media (max-width:992px) {
    .content-wrapper {
      margin-left: 0;
    }
    .mobile-header {
      display: block;
    }

    .empty-message {
      color: black;
    }
  }

  @media (max-width:767px) {
    .content-wrapper{
      width: auto;
    }
    .calendar-content {
      padding-left: 5%;
      padding-right: 5%;
    }
    body .row {
      margin-bottom: 0;
    }
  }

  @media (max-width:450px) {
    .content-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
    .content-wrapper{
      padding-left: 0;
      padding-right: 0;
    }
  }

/*----------------- Side Bar --------------------*/
  .sidebar-title {
    position: relative;
    padding: 30px 6% 50px 12%;
  }

  .sidebar-title h4 {
    margin-top: 0;
  }

  .sidebar-events {
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 70px;
  }

  .all-requests {
    padding: 0px 6% 50px 12%;
  }

  .sidebar-title h4 {
    margin-top: 0;
  }

/*----------------- Callendar Content -----------*/


  .cal-top-left { grid-area: left; }
  .cal-top-center { grid-area: center; width: 580px; }
  .cal-top-right { grid-area: right; }
  .cal-bottom { grid-area: bottom; }

  .calendar {
    position: relative;
    top: 60px;
    display: grid;
    grid-template-areas: 
    'left center right'
    'bottom bottom bottom';
  }

  .header-text {
    font-size: 4em;
    text-align: center;
    line-height: 2.1;
    font-weight: 100;
  }

  .prev-button {
    cursor: pointer;
    color: #132f52;
    float: left;
    margin-left: 30%;
  }

  .prev-button i { 
    font-size: 4em;
  }

  .next-button {
    cursor: pointer;
    color: #132f52;
    float: right;
    margin-right: 30%;
  }

  .next-button i { 
    font-size: 4em;
  }

  a.prev-button:hover, a.next-button:hover {
    color: #2c4565 !important;
  }

  .calendar-content {
    padding: 20px;
    overflow: hidden;
  }

  .calendar-date {
    height: 40px;
    padding: 10px 60px 10px 60px;
    text-align: center;
    border: 1px solid #f7f7f7;
    background-color: white;
  }

  .calendar-date:hover {
    background-color: #337ab7;
    color: white;
    cursor: pointer;
  }

  .past-day {
    background-color: #f2f4f7 !important;
    cursor: not-allowed;
  }

  th {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
  }

  .day-mark {
    width: 7px;
    height: 7px;
    background-color: #b39ddb;
    border-radius: 100px;
    position: absolute;
    left: 47%;
    top: 67%;
  }

  #table-body .col:hover {
    cursor: pointer;
  }

  .empty-day:hover {
    cursor: default !important;
    background-color: #fff !important;
  }

  #table-body .row .col {
    padding: .75rem;
  }

  #table-body .col {
    border: 1px solid transparent;
  }

  #table-body .row {
    margin-bottom: 0;
  }

  #table-body .col {
    padding-top: 1.3rem !important;
    padding-bottom: 1.3rem !important;
  }

  #calendar-table {
    margin: 0 auto;
    text-align: center;
  }

  .addEvent {
    box-shadow: 0 5px 15px rgb(57, 168, 228);
    background-color: #39a8e4;
    padding: 10px;
    padding-left: 3em;
    padding-right: 3em;
    cursor: pointer;
    border-radius: 25px;
    color: #fff !important;
    background-image: linear-gradient(135deg, #8d8dd4, #45ced4);
  }

  .addEvent:hover {
    transition: box-shadow 0.5s;
    box-shadow: 0 4px 25px rgb(57, 168, 228);
  }

  .blue {
    background-color: #132f52;
    color: white;
  }

/*----------------- Modal -----------------------*/
  .modal-header {
    background-color: #132f52;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 2rem;
  }

  .modal-dialog {
    top: 30%;
  }

  button.close {
    color: white !important;
    opacity: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 2rem;
  }

  .form-control[type="submit"] {
    background-color: #132f52;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 2rem;
    width: 200px;
    height: 50px;
    float: right;
    margin-top: 75px;
  }

  .form-control[type="submit"]:hover {
    background-color: #2c4565;
  }

  a[href="/users/password/new"] {
    color: #071a32;
    margin: 0px;
  }
