<h1>Sup#index</h1>

<ul>
    <li>>> Better coverage map — needs to be able to accept user input to show a given day</li>
    <li>>> Migrate search user sidebar from admin view</li>
    <li>>> Probs remove all(?) admin veiw sidebar buttons — 3/4ths : 1/4th </li>
    <li>>> Should add admin/sup nav item to the user dropdown menu</li>
    <li>>> Get input from sups for features that they need?</li>
</ul>

<div id='total-agents-today'>Total agents today : </div>
<div id='total-agents-off-today'>Total off today : </div>
<div id='agents-off-today'> Agents off today : </div>
<div id='agents-scheduled'>Agents Scheduled : </div>
