// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---- Page Layout ----*/

  .layout {
    display: grid;
    grid-template-areas:
      'left center center center center center center center right right';
    height: 100%;
  }

/*---- Left sidebar ----*/

  .left { 
    grid-area: left; 
    height: 100%; 
    background-color: $sidebar; 
    padding-top: 15px; 
    width: 15vw;
    min-width: 252px;
    box-shadow: 1px 1px #7178864f;
  }

  .adminbutton {
    background-color: $header;
    border-radius: 5px;
    border: 1px solid #132f52;
    color: $text;
    height: 40px;
    display: block;
    width: 90%;
    margin: 10px 20px 0px 10px;
    box-shadow: 2px 2px #485366;
    font-size: 24px;
    font-weight: 200;
    outline: none;
  }

  .adminbutton:hover {
    color: $hovertext;
  }

/*---- Right ----*/

  .right { 
    grid-area: right;
    background-color: white;
    width: 350px;
    min-width: 350px;
    height: 100%;
    border: 1px solid #485366;
    border-radius: 3px;
    padding: 20px;
    margin: 20px;
  }

  input[title="Filter by name"] {
    width: 300px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #485366;
    color: #485366;
    outline: none;
    background-color: #f2f4f7;
    border-radius: 3px;
  }

  .all-agents {
    height: 100%;
  }

  #agent-table {
    width: 300px;
  }

  .agent-table > td, .agent-table> tr, .agent-table> th {
    padding: 5px;
    height: 20px;
    width: 100%;
  }

  .agent-row:hover {
    background-color: $sidebar;
    color: $text !important;
  }

  .agent-row {
    margin-left: 3px;
    border-bottom: 1px solid $sidebar;
    color: $text;
  }

  .agent-name > a {
    margin: auto;
    display: block;
    width: 100%;
    padding-left: 10px;
  }

  .agent-name > a:hover, .agent-points > a:hover {
    color: $text !important;
  }

  .agent-points {
    text-align: center;
  }

/*---- Modals ----*/

.admin-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
 vertical-align: baseline;
}

.upload-users-content, .upload-values-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 40%;
  margin: auto;
}

form > input[type="submit"] {
  background-color: $header;
  border-radius: 5px;
  border: 1px solid #132f52;
  color: $text;
  height: 40px;
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 200;
  outline: none;
  margin-top: 10px;
  line-height: 1;
}

form > input[type="submit"]:hover {
  color: $hovertext;
}

input[type="file"] {
  margin-bottom: 20px;
}

form[enctype="multipart/form-data"] {
  padding: 20px;
}

/*---- Center ----*/

.center { 
  grid-area: center; 
  background-color: $sidebar;
  height: 100%;
  border: 1px solid #485366;
  border-radius: 3px;
  margin: 20px 0px 0px 20px;
  text-align: center;
  overflow-x: hidden;
  color: $text;
  font-size: 1.15em;
}

.center-content {
  overflow-x: scroll;
  height: 95%;
  background-color: white;
  color: $header;
  width: 100%;
}

/*------ Who is off ------*/
.working-grid {
  display: grid;
  grid-template-areas:
  'start00 start01 start02 start03 start04 start05 start06 start07 start08 start09 start10 start11 start12 start13 start14 start15 start16 start17 start18 start19 start20 start21 start22 start23';
  height: 20px;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  overflow-x: visible;
  color: $text;
  width: 100%;
}

.off-header {
  padding: 3px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  min-width: 50px;
}

.grid-overflow {
  overflow-x: visible;
}

.start-0000  { grid-area: start00; background-color: $header; }
.start-0100  { grid-area: start01; background-color: $header; }
.start-0200  { grid-area: start02; background-color: $header; }
.start-0300  { grid-area: start03; background-color: $header; }
.start-0400  { grid-area: start04; background-color: $header; }
.start-0500  { grid-area: start05; background-color: $header; }
.start-0600  { grid-area: start06; background-color: $header; }
.start-0700  { grid-area: start07; background-color: $header; }
.start-0800  { grid-area: start08; background-color: $header; }
.start-0900  { grid-area: start09; background-color: $header; }
.start-1000  { grid-area: start10; background-color: $header; }
.start-1100  { grid-area: start11; background-color: $header; }
.start-1200  { grid-area: start12; background-color: $header; }
.start-1300  { grid-area: start13; background-color: $header; }
.start-1400  { grid-area: start14; background-color: $header; }
.start-1500  { grid-area: start15; background-color: $header; }
.start-1600  { grid-area: start16; background-color: $header; }
.start-1700  { grid-area: start17; background-color: $header; }
.start-1800  { grid-area: start18; background-color: $header; }
.start-1900  { grid-area: start19; background-color: $header; }
.start-2000  { grid-area: start20; background-color: $header; }
.start-2100  { grid-area: start21; background-color: $header; }
.start-2200  { grid-area: start22; background-color: $header; }
.start-2300  { grid-area: start23; background-color: $header; }
		
.end-0000  { grid-area: start00; background-color: $header; }
.end-0100  { grid-area: start01; background-color: $header; }
.end-0200  { grid-area: start02; background-color: $header; }
.end-0300  { grid-area: start03; background-color: $header; }
.end-0400  { grid-area: start04; background-color: $header; }
.end-0500  { grid-area: start05; background-color: $header; }
.end-0600  { grid-area: start06; background-color: $header; }
.end-0700  { grid-area: start07; background-color: $header; }
.end-0800  { grid-area: start08; background-color: $header; }
.end-0900  { grid-area: start09; background-color: $header; }
.end-1000  { grid-area: start10; background-color: $header; }
.end-1100  { grid-area: start11; background-color: $header; }
.end-1200  { grid-area: start12; background-color: $header; }
.end-1300  { grid-area: start13; background-color: $header; }
.end-1400  { grid-area: start14; background-color: $header; }
.end-1500  { grid-area: start15; background-color: $header; }
.end-1600  { grid-area: start16; background-color: $header; }
.end-1700  { grid-area: start17; background-color: $header; }
.end-1800  { grid-area: start18; background-color: $header; }
.end-1900  { grid-area: start19; background-color: $header; }
.end-2000  { grid-area: start20; background-color: $header; }
.end-2100  { grid-area: start21; background-color: $header; }
.end-2200  { grid-area: start22; background-color: $header; }
.end-2300  { grid-area: start23; background-color: $header; }