// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---- Page Layout ----*/

html, body {
    background-color: white;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    height:100%;
    overflow: hidden;
    top: 0px;
  }
  
  body {
    top: 60px;
  }

  .layout {
    display: grid;
    grid-template-areas:
      'left center center center center center center center right right';
    height: 100%;
  }

/*---- Left sidebar ----*/

  .left { 
    grid-area: left; 
    height: 100%; 
    background-color: #f2f4f7; 
    padding-top: 15px; 
    width: 100%;
    box-shadow: 1px 1px #7178864f;
  }

  .adminbutton {
    background-color: #132f52;
    border-radius: 5px;
    border: 1px solid #132f52;
    color: white;
    height: 40px;
    display: block;
    width: 90%;
    margin: 10px 20px 0px 10px;
    box-shadow: 2px 2px #485366;
    font-size: 24px;
    font-weight: 200;
    outline: none;
  }

  .adminbutton:hover {
    color: #337ab7;
  }

/*---- Center ----*/
  input[title="Filter by name"] {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #485366;
    color: #485366;
    margin-bottom: 20px;
    outline: none;
    background-color: #f2f4f7;
    border-radius: 3px;
  }

  .all-agents {
    border: 1px solid #485366;
    border-radius: 3px;
    height: 100%;
    padding: 10px;
  }

  .center { 
    grid-area: center; 
    background-color: white;
    width: 95%;
    margin: 20px;
    height: 100%;
  }

  table {
    width: 100%;
  }

  td, tr {
    padding: 5px;
    padding-left: 20px;
    height: 20px;
  }

  .agent-row:hover {
    background-color: #337ab7;
    color: white;
  }

  .agent-row {
    margin-left: 10px;
    border: 1px solid #7178864f;
  }

/*---- Right ----*/

  .right { 
    grid-area: right;
    background-color: white;
    width: 95%;
    margin-top: 20px;
    height: 100%;
    border: 1px solid #485366;
    border-radius: 3px;
    padding: 20px;
  }

/*---- Modals ----*/

.admin-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
 vertical-align: baseline;
 margin-bottom: 20px;
}

.upload-users-content, .upload-values-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 40%;
  margin: auto;
  height: 200px;
}

.close, .close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus, .close2:hover, .close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #132f52;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 2rem;
  width: 200px;
  height: 50px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

input[type="file"] {
  margin-left: 20px;
}
