// Place all the styles related to the Faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.faqs-layout{
    width: 100%;
    height: 100%;
}

.faqs-layout > h1{
    font-size: 40px;
    color: #2E9CCA;
    text-align: center;
}
.faqs-content {
    margin: 80px;
}
