// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* BAT SIGNAL */
#agents-off-today-list, #agents-off-today-button {
	display: show;
}

#all-agents-list, #all-agents-button,
#agents-currently-not-working-list, #agents-currently-not-working-button,
#agents-team-list, #agents-team-button {
	display : none;
	overflow: scroll;
}

.no-ph-num {
	background-color: salmon;
	color: black;
}

.batsignal-container {
	height: 550px;
}