<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
            <div class="nav-left navbar-sections">
                <%= render 'layouts/navigation/header' %>
            </div>
            <div class="nav-center navbar-sections">
                <%= render 'layouts/navigation/center_nav' %>
            </div>
            <div class="nav-right navbar-sections">
                <%= render 'layouts/navigation/collapsible_elements' %>
            </div>
    </div>
</nav>