<div class="navbar-title">
	<span class="sr-only">Navigation menu top center</span>
    <button type="button" class="center-nav-buttons">Panda PTO</button>|<button type="button" class="center-nav-buttons">Other Links in the middle</button>|<button type="button" class="center-nav-buttons">Other Other Links</button>
</div>