<div class="navbar-title">
	<img src="logo.png" alt="logo" width="48px" height="48px"/>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
    </button>
    <%= link_to 'panda-pto', root_path %>
</div>